<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175265749386-j707k56685qvrn37bqllhala7gig0imp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175265749386-j707k56685qvrn37bqllhala7gig0imp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>175265749386-sk6mc4fos81enb9578ujujj7nh2kjk2g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5zstja-aaumjunWlnK4TJhnyZDrRkFXs</string>
	<key>GCM_SENDER_ID</key>
	<string>175265749386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.federico.traina</string>
	<key>PROJECT_ID</key>
	<string>appuntamentiv2</string>
	<key>STORAGE_BUCKET</key>
	<string>appuntamentiv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175265749386:ios:b30a786b5fb8f00c041073</string>
</dict>
</plist>